.multipleHover-container {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.multipleHover-img {
  width: 100%;
  border-radius: 20px;
}

.multipleHover-container::before { 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 200%;
  background: rgb(57, 57, 93);
  opacity: 0.5;
  border-radius: 20px;
  transition: all 0.25s;
  transform: translate(550px,300px) rotate(45deg);
}

.multipleHover-container:hover::before {
  transform: translate(-10px, -100px) rotate(90deg);
}

.multipleHover-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  color: white;
  text-transform: uppercase;
}

.multipleHover-caption-h1 {
  font-size: 17px;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  transform: translate(200px, -200px);
  transition: all 0.25s;
}

.multipleHover-container:hover .multipleHover-caption-h1 {
  transform: translate(0,0);
  transition-delay: 0.3s;
}

.multipleHover-caption-p {
  font-size: 16px;
  width: 80%;
  align-self: center;
  text-align: center;
  transform: translate(-300px, 300px);
  transition: all 0.25s;
  color: black;
}

.multipleHover-container:hover .multipleHover-caption-p {
  transform: translate(0, 0);
  transition-delay: 0.4s;
}

.multipleHover-caption-a {
  text-decoration: none;
  background: black;
  color: white;
  width: 120px;
  padding: 15px;
  margin-bottom: 20px;
  align-self: center;
  transition: all 0.25s;
  font-size: 15px;
  transform: translateY(200px);
}

.multipleHover-container:hover .multipleHover-caption-a {
  transform: translateY(0);
  transition-delay: 0.5s;
}